$primary-color: #ecd48b;
$second-color: #f1f1f1;
$third-color: #6c3659;
$fourth-color: #7818d9;

$fourth-color-hover: #d2d1d3;
$shadow-card: #9b9b9b;
$gray-custom: #f2e5ff;
$gray-strong: #979494;

$width-break: 800px;